---
import Layout from '~/layouts/Layout.astro';
import Welcome from '~/components/Welcome.astro';
import ContactForm from '~/components/ContactForm.astro';
---

<Layout title="Astor Technologies">
  <div class="hero">
    <div class="hero-content flex-col lg:flex-row">
      <div class="text-center lg:text-left max-w-lg lg:max-w-3xl">
        <h1 class="text-4xl font-bold">Contact us</h1>
        <p class="py-6">
          We'd love to hear about your project and how we can help, or maybe you just have a question about some of the
          services we provide!
        </p>
        <p class="py-6">
          Send us a message using this form and we'll get back to you as soon as we can. If you'd rather set up a time
          to meet, or to email directly, you can do that
          <a class="link link-primary" href="https://app.hellobonsai.com/s/astor-tech/consultation">here</a>.
        </p>
        <p>Either way, we'd love to hear from you!</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-lg shadow-2xl bg-base-100">
        <div class="card-body">
          <ContactForm />
        </div>
      </div>
    </div>
  </div>
</Layout>
